PORT=3001
REDDIT_BASE_URL=https://www.reddit.com
REDDIT_USER_AGENT=SubredditMediaViewer/1.0 (by u/your_username)
INSTAGRAM_GRAPH_BASE_URL=https://graph.facebook.com/v23.0
INSTAGRAM_APP_USER_ID=
INSTAGRAM_ACCESS_TOKEN=
SIMPCITY_BASE_URL=https://simpcity.cr
SIMPCITY_COOKIE=
